#header{
    background-color:#313c4e;
}

#header h1{
    color: white
}
#header h3{
    color:#419199;

}
#header p{
    background-color:#313c4e;
}

#header p{
    color: white;
    font-size: 20px;
}
#contacts {
    background-color:rgb(26, 25, 25);
    
}

#contacts a{
    color:white;

}

#contacts {

    text-align: center;
    text-transform: uppercase;
}

#main-content h2{
    color:#419199;
}
.Highlight-text-1 h4{
    color:#419199
}


.content-box-tags-2 h4{
    background-clip: border-box;
    color: black;
}

.name h1{
font-size: 40px;

}

.name{

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

}




.content-box-tags-2 h4{

    
    font-family:fantasy;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
}

